env
**/*.pyc
node_modules/
build

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Ignore the default SQLite database.
*.sqlite3
backend/db.sqlite3
backend/articles/migrations/__pycache__/0001_initial.cpython-36.pyc
backend/articles/api/__pycache__/views.cpython-36.pyc
backend/articles/api/__pycache__/views.cpython-36.pyc
*.pyc
